* {
    /* margin: 0; */
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #FF3CAC;
background-image: linear-gradient(225deg, #FF3CAC 0%, #784BA0 50%, #2B86C5 100%);
background-repeat: no-repeat;

}
@font-face {
    font-family: lalezar;
    src: url(/font/Lalezar-Regular.ttf);
}

nav {
    padding: 0px 25px;
    /* background-color: rgb(87, 10, 64); */
    display: flex;
    align-items: center;
    justify-content: space-between;
    
}

.nav-list li:hover {
    text-shadow: 2px 2px 8px #000000;

 }

 ul.sub-menu {
     position: absolute;
     background-color: azure;
     list-style: none;
     
     border-radius: 1rem 0rem;
     margin-left: -50px;
     opacity: 0;
     list-style-image:url(/img/telegram\ \(1\).png);

     
 }
 ul.sub-menu a {
    padding-right: 0px;
    color: rgb(235, 0, 117);
    direction: rtl;
 }

 ul.sub-menu li {
     direction: rtl;
     display: flex;
     padding: 5px 20px 10px 0px ;
 }
 
 /* ul.sub-menu li::before{
     content: "\2764";
     color: rgb(0, 119, 255);
     margin-right: 5px;
     margin-left: 5px;
 } */
 nav li:hover .sub-menu {
     opacity: 1;
 }
.logo {
    font-family: 'Lalezar';
    color: floralwhite;
    font-size: 30px;
}

.nav-list {
    display: flex;
    flex-direction: row-reverse;
    list-style: none;
    position: relative;
}
.nav-list li {
    margin-left: 30px;
}
.nav-list a {
    text-decoration: none;
    font-family: 'sahel';
    font-size: 18px;
    color: floralwhite;
}

#banner {
    background-image: url(/img/3.jpg);
    height: 618px;
    background-repeat: no-repeat;
    border-radius: 2rem;
    width: 1342px;
}

.b-text h1 {
    font-family: 'Lalezar';
    color: floralwhite;
    font-size: x-large;
}

.section {
    display: flex;
    flex-direction: row;
}

#about-company {
    display: flex;
    flex-direction: row;
    font-family: 'sahel';
    align-items: center;
    background-color: floralwhite;
    border-radius: 2rem;
    width: 50%;
    margin-right: 20px;
    justify-content: space-between;

}

#about-company img {
    width: 150px;
    padding: 0px 0px 0px 10px;
}

#about-company p {
    padding-right: 20px;
}


#about-me {
    display: flex;
    flex-direction: row-reverse;
    font-family: 'sahel';
    align-items: center;
    background-color: floralwhite;
    border-radius: 2rem;
    width: 50%;
    height: 200px;
}

#about-me img {
    width: 150px;
    padding: 0px 10px 0px 0px;
}

#about-me p {
    padding-right: 10px;
}

::-webkit-scrollbar {
    width: 10px;

}
::-webkit-scrollbar-track {
    background-color: #2B86C5;
    border-radius: 50px;

}
 ::-webkit-scrollbar-thumb {
    background: aliceblue;
    border-radius: 50px;
 }

 ::-webkit-scrollbar-button{
     visibility: hidden;
 }


 footer {
      background-color: rgb(255, 255, 255); 
      /* padding-bottom: 0%; */
      border-radius: 2rem;
      font-family: 'sahel';
 }


