* {
    margin: 0;
    padding: 8px;
    box-sizing: border-box;
}

body {
    background-color: #FF3CAC;
background-image: linear-gradient(225deg, #FF3CAC 0%, #784BA0 50%, #2B86C5 100%);
}

@font-face {
    font-family: lalezar;
    src: url(/font/Lalezar-Regular.ttf);
}

nav {
    padding: 0px 25px;
    /* background-color: rgb(87, 10, 64); */
    display: flex;
    align-items: center;
    justify-content: space-between;
    
}

.nav-list li:hover {
    text-shadow: 2px 2px 8px #000000;

 }

 ul.sub-menu {
     position: absolute;
     background-color: azure;
     list-style: none;
     
     border-radius: 1rem 0rem;
     margin-left: -50px;
     opacity: 0;
     

     
 }
 ul.sub-menu a {
    padding-right: 0px;
    color: rgb(235, 0, 117);
    direction: rtl;
 }

 ul.sub-menu li {
     direction: rtl;
     display: flex;
     padding: 5px 20px 10px 0px ;
 }
 
 /* ul.sub-menu li::before{
     content: "\2764";
     color: rgb(0, 119, 255);
     margin-right: 5px;
     margin-left: 5px;
 } */
 nav li:hover .sub-menu {
     opacity: 1;
 }
.logo {
    font-family: 'Lalezar';
    color: floralwhite;
    font-size: 30px;
}

.nav-list {
    display: flex;
    flex-direction: row-reverse;
    list-style: none;
    position: relative;
}
.nav-list li {
    margin-left: 30px;
}
.nav-list a {
    text-decoration: none;
    font-family: 'sahel';
    font-size: 18px;
    color: floralwhite;
}

.banner {
    /* background-image: url(/webino/img/3.jpg); */
    /* width: 1342px; */
    padding: 5px;
    display: flex;
    flex-direction: column;
}

.banner img{
    height: 618px;
    border-radius: 2rem;

}
.banner h1 {
    color: aliceblue;
    font-family: 'lalezar';

}

.banner h5 {
    color: aliceblue;
    font-family: 'sahel';
}

.b-text h1 {
    font-family: 'Lalezar';
    color: floralwhite;
    font-size: x-large;
}

.section {
    display: flex;
    flex-direction: row;
}

#about-company {
    display: flex;
    flex-direction: row;
    font-family: 'sahel';
    align-items: center;
    background-color: floralwhite;
    border-radius: 2rem;
    width: 50%;
    margin-right: 20px;
    justify-content: space-between;

}

#about-company img {
    width: 150px;
    padding: 0px 0px 0px 10px;
}

#about-company p {
    padding-right: 20px;
}


#about-me {
    display: flex;
    flex-direction: row-reverse;
    font-family: 'sahel';
    align-items: center;
    background-color: floralwhite;
    border-radius: 2rem;
    width: 50%;
    height: 200px;
}

#about-me img {
    width: 150px;
    padding: 0px 10px 0px 0px;
}

#about-me p {
    padding-right: 10px;
}

::-webkit-scrollbar {
    width: 10px;

}
::-webkit-scrollbar-track {
    background-color: #2B86C5;
    /* border-radius: 50px; */

}
 ::-webkit-scrollbar-thumb {
    background: aliceblue;
    border-radius: 50px;
 }

footer {
    
    bottom: 0px;
    left: 0px;
    right: 0px;
    margin: 0;
    align-items: center;
    background-color: rgba(255, 235, 205, 0.336);
    border-radius: 2rem;
}

footer p{
    color: black;
    font-family: 'sahel';
    text-align: center;

}

.blobs {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px ;
    
}
/* blobs background */
#blob {
    /* background-image: linear-gradient(to top, #feada6 0%, #f5efef 100%); */
    background-image: linear-gradient(-20deg, #e9defa 0%, #fbfcdb 100%);
}

#blob p {
    font-family: 'sahel';
    color: rgb(0, 0, 0);
    text-align: center;
    padding: 0% 10% 10% 10%;
}

.blobs1 {
    border-radius: 73% 27% 79% 21% / 57% 54% 46% 43%   ;
    width: 360px;
    height: fit-content;
    display: flex;
    flex-direction: column;
    align-items: center;
    
    
}
.blobs1 p{
    font-family: 'sahel';
    color: black;
    /* align-items: center; */
    text-align: center;
}
.blobs1 img{
    width: 60%;
    /* padding-top: 51px; */
}

.blobs2 {
    border-radius: 54% 46% 58% 42% / 57% 54% 46% 43%   ;
    


    width: 360px;
    height: fit-content;
    display: flex;
    flex-direction: column;
    align-items: center;
    
    
}
.blobs2 p{
    font-family: 'sahel';
    color: black;
    text-align: center;
}
.blobs2 img{
    width: 65%;
}

.blobs3 {
    border-radius: 28% 72% 32% 68% / 57% 54% 46% 43%   ;
    

    width: 360px;
    height: fit-content;
    display: flex;
    flex-direction: column;
    align-items: center;
    
    
}
.blobs3 p{
    font-family: 'sahel';
    color: black;
    /* align-items: center; */
    text-align: center;
    /* padding-left: 28px;
    padding-bottom: 28px; */
}
.blobs3 img{
    width: 60%;
    padding-top: 23px;
}
